h1 {
  text-align:center;
}

.header {
  height:100px;
}

.choose-size {
  height:200px;
}



h4 {
  padding-bottom:5px;
}
.h4-2 {
  padding-bottom:13px;
}

.form-control {
  margin-bottom:15px;
  width:80%;
}

.row {
  padding-top:5px;
  padding-left:10px;
}

.choose-toppings {
  padding-top:5px;
  padding-left:10px;
}

#sizeBtn {
  margin-bottom: 20px;
}

p {
  font-size:16px;
}

.display-size {
  display:none;
}

.checkbox-inline {
  padding-bottom:25px;
}

#addTopBtn {
  margin-right: 10px;
}

.choose-toppings {
  display:none;
}
