h1 {
  text-align:center;
}

.header {
  height:100px;
}

.choose-size {
  height:200px;
}

#buttonalign {
  margin-left:15px;
  display:none;
}
h4 {
  padding-bottom:5px;
}
.h4-2 {
  padding-bottom:13px;
}

.form-control {
  margin-bottom:15px;
  width:80%;
}

#sizeBtn {
  margin-bottom: 20px;
}

p {
  font-size:16px;
}

.display-size {
  display:none;
}

.checkbox-inline {
  padding-bottom:25px;
}

.row2 {
  padding:10px;
}

.display-size {
  margin-top:10px;
}

.choose-toppings {
  display:none;
}


.display-toppings {
  height:250px;
}
.row2 {
  display:none;
}
